* {
  box-sizing: border-box;
  --button-text-blue: #4D5B9E
}

button{
  cursor: pointer;
}

body {
  background-color: #1c1c1c;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: hidden;
}

main {
  position: relative;
  background-color: #f5f7fb;
  min-height: calc(max(900px, 60vh));
  width: 1000px;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
main::before{
  content:"";
  position: absolute;
  height: 650px;
  width: 650px;
  left: 500px;
  top: -150px;
  transform: rotate(-180deg);
  background: linear-gradient(#fffad1, #e91e63);
  clip-path: circle(50% at 50% 30%);

  animation: transform 20s ease-in-out infinite both alternate,
  movement_one 40s ease-in-out infinite both;
}
main::after{
  content:"";
  position: absolute;
  height: 500px;
  width: 500px;
  right: 800px;
  bottom: -150px;
  transform: rotate(-180deg);
  background: linear-gradient(#0865c2, #7c97b3);
  clip-path: circle(100% at 0% 120%);

  animation: transform 20s ease-in-out infinite both alternate,
  movement_two 40s ease-in-out infinite both;
}

@keyframes transform {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}
  
@keyframes movement_one {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translate(15%, 15%) rotateY(10deg) scale(1.2);
  }
}
@keyframes movement_two {
  0%,
  500% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotate(-200deg) scale(1.2);
  }
}

.question{
  width: 85%;
  z-index: 1;
}

.answer-list{
  display: flex;
  justify-content: center;
}

.answer-element{
  height: 4rem;
  width: 9rem;
  border: 0.79px solid var(--button-text-blue);
  border-radius: 30px;
  color: #000;
  font-size: 0.9rem;
  text-align: center;
  font-family: 'Karla', sans-serif;
  margin: 0 25px
}


.game-button{
  margin-top: 5px;
  color: #fff;
  font-weight: 900;
  border-radius: 5px;
  height: 50px; 
  width: 150px;
  background-color: var(--button-text-blue);
  border: 1px solid var(--button-text-blue);
  z-index: 1;
  transition: 300ms ease-in-out;
}
.game-button:hover{
  border-radius: 30px;
}

.play-again-text{
  display: flex;
}
.answer-text{
  letter-spacing: 1px;
  z-index: 1;
  padding: 0 50px;
}

.frontpage-elements{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.frontpage-title{
  font-family: 'Karla', sans-serif;
  font-size: 4rem;
  color: var(--button-text-blue);
}

fieldset{
  max-width: 300px;
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset label{
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  color: var(--button-text-blue);
}

fieldset select{
  width: 170px;
  height: 35px;
  appearance: none;
  text-indent: 10px;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
}

/* Spinner Component*/
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .loadingSpinner {
  margin-bottom: 100px;
  width: 128px;
  height: 128px;
  border: 10px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  }
  
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  