* {
    box-sizing: border-box;
    --button-text-blue: #4D5B9E
}

button{
    cursor: pointer;
}

body {
    background-color: #1c1c1c;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    overflow: hidden;
}

main {
    position: relative;
    background-color: #f5f7fb;
    min-height: calc(max(900px, 60vh));
    width: 800px;
    border-radius: 5px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fffad1, #e91e63);
    clip-path: circle(45% at 120% 0%);
}
main::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0865c2, #7c97b3);
    clip-path: circle(45% at 0% 120%);
}

.question{
    width: 85%;
    z-index: 1;
}

.answer-list{
    display: flex;
}

.answer-element{
    height: 4rem;
    width: 9rem;
    border: 0.79px solid var(--button-text-blue);
    border-radius: 30px;
    color: #000;
    font-size: 0.9rem;
    text-align: center;
    font-family: 'Karla', sans-serif;
    margin: 0 12px
}

.game-button{
    margin-top: 5px;
    color: #fff;
    font-weight: 900;
    border-radius: 5px;
    height: 50px; 
    width: 150px;
    background-color: var(--button-text-blue);
    border: 1px solid var(--button-text-blue);
    z-index: 1;
    transition: 300ms ease-in-out;
}
.game-button:hover{
    border-radius: 30px;
}

.play-again-text{
    display: flex;
}
.answer-text{
    letter-spacing: 1px;
    z-index: 1;
    padding: 0 50px;
}

.frontpage-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frontpage-title{
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
    color: var(--button-text-blue);
}

fieldset{
    max-width: 300px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset label{
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    color: var(--button-text-blue);
}

fieldset select{
    width: 170px;
    height: 35px;
    appearance: none;
    text-indent: 10px;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

/* Spinner */
.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  